pkgbase = cgrep-clang-git
	pkgdesc = grep for C/C++ source files
	pkgver = r179.308bc02
	pkgrel = 1
	url = https://github.com/terminaldweller/cgrep
	arch = any
	license = GPL3
	makedepends = git
	depends = llvm
	depends = clang
	provides = cgrep-clang
	conflicts = cgrep-clang
	source = cgrep-clang::git+https://github.com/terminaldweller/cgrep
	source = git+https://github.com/terminaldweller/cfe-extra
	source = adjust-libclang-lib-names.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = c726ccfdc45f9ad434647cfcab95ac536700ab87978f05f3a341a555642eb8c4

pkgname = cgrep-clang-git
